# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Secrets
PageChime/Config/Secrets.swift

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.xcworkspace
!*.xcodeproj
